<a href="https://colab.research.google.com/github/ineschunghalpern/lsgnt-computers/blob/main/Comp_project/data_crunch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Import packages*

In [ ]:
'''from google.colab import drive
drive.mount('/content/drive')'''

Mounted at /content/drive

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from tqdm import tqdm

*Test with index 1 Toric log del Pezzo surfaces* - so i dont cry later

In [2]:
#Initialise a Pandas dataframe
cols = ['ID', 'Min Loc Index', 'Max Loc Index', 'Local Indices', 'Order', 'Volume', 'Degree', 'Num Vertices', 'Num Boundary', 'Num Interior', 'Vertices', 'Dual', 'Boundary', 'Interior']
num_properties = cols[:10]
coord_properties = cols[10:]

In [21]:
# function that takes in a list of coordinates of vertices as a a string and gives the  coords as a np array of integers.
def make_coords(verts):
    vertarray = verts.replace('\n','').replace('(','').replace(')','').split(',')
    coordinates = np.array([float(eval(i)) for i in vertarray]).reshape(-1,2)
    return coordinates
def make_nums(indices):
    splitinds = indices.replace('\n','').split(',')
    indarray = np.array([float(eval(i)) for i in splitinds])
    if len(indarray) == 1:
        return indarray[0]
    else:
        return indarray

def num_or_coords(line): #takes in a line of text pre split into property name and numerical entry
  if line[0] in coord_properties:
    return make_coords(line[1])
  else:
    return make_nums(line[1])

In [ ]:
verts = ' (-14, -1), (-6, -1), (0, 1), (1, 0), (5, 1)'
make_coords(verts)

make_nums(' 1, 1, 1, 1, 1, 1\n')


indices = '1, 1, 1, 1, 1 '
list_indices = np.array([float(eval(i)) for i in indices.split(',')])
print(list_indices)

string = "Dual: (-1, -2/11), (-1, 0), (0, -1/11), (0, 1), (1, 8/11), (1, 1)"
splat = string.split(':')
print(splat)
verts = make_coords(string.split(':')[1])
print(verts)
print(splat[0] in coord_properties)

test_ind = 'Local Indices: 1, 1, 1, 8, 8, 16'.split(':')
test_coord = 'Boundary: (-15, 16), (-14, 16), (-13, 16), (-12, 16), (-11, 16), (-10, 16), (-9, 16), (-8, 8), (-8, 16), (-7, 16), (-6, 16), (-5, 16), (-4, 16), (-3, 16), (-2, 16), (-1, 0), (-1, 16), (0, -1), (0, 8), (1, -1), (1, 0)'.split(':')

res_i = num_or_coords(test_ind)
res_c = num_or_coords(test_coord)
print(res_i, res_i.shape)
print(res_c, res_c.shape)

[1. 1. 1. 1. 1.]

In [ ]:
index_1_data = []

In [ ]:
with open('index_1.txt', 'r') as f:
    lines = f.readlines()
    #Parse through each line of the text file
    surface_data = []
    for line in lines:
        #check if the line is empty - if yes, add surface to a row in the dataframe and start new entry
        if line.strip() == "":
          # add surface data to db
          index_1_data.append(surface_data)
          #reset the dummy array
          surface_data = []
        else:
          #split the column name from the data
          split_line = line.split(':')
          data = num_or_coords(split_line)
          # add data into the list for this variety
          surface_data.append(data.tolist())

db = pd.DataFrame(index_1_data, columns = cols)
db.head()

In [ ]:
db.to_pickle('index_1_test.pkl')
df= pd.read_pickle("index_1_test.pkl")
df.head()

## Making the data for real now

Loop through each index file, add into a database for each property

In [22]:
def append_tldp_data(lines, list):
    newlist = list
    #Parse through each line of the text file
    surface_data = []
    for line in lines:
        #check if the line is empty - if yes, add surface to a row in the dataframe and start new entry
        if line.strip() == "":
          # add surface data to db
          newlist.append(surface_data)
          #reset the dummy array
          surface_data = []
        else:
          #split the column name from the data
          split_line = line.split(':')
          data = num_or_coords(split_line)
          # add data into the list for this variety
          surface_data.append(data.tolist())
    return newlist

In [23]:
directory = 'tldp_data_by_index'
tldp_data = []
for filename in tqdm(os.listdir(directory)):
    file = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(file):
        with open(directory +'/'+ filename, 'r') as f:
            lines = f.readlines()
            tldp_data = append_tldp_data(lines, tldp_data)

100%|██████████| 17/17 [00:10<00:00,  1.25it/s]

In [24]:
tldp_db = pd.DataFrame(tldp_data, columns = cols)
print(tldp_db.info())
tldp_db.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15346 entries, 0 to 15345
Data columns (total 14 columns):
ID               15346 non-null float64
Min Loc Index    15346 non-null float64
Max Loc Index    15346 non-null float64
Local Indices    15346 non-null object
Order            15346 non-null float64
Volume           15346 non-null float64
Degree           15346 non-null float64
Num Vertices     15346 non-null float64
Num Boundary     15346 non-null float64
Num Interior     15346 non-null float64
Vertices         15346 non-null object
Dual             15346 non-null object
Boundary         15346 non-null object
Interior         15346 non-null object
dtypes: float64(9), object(5)
memory usage: 1.6+ MB
None

,ID,Min Loc Index,Max Loc Index,Local Indices,Order,Volume,Degree,Num Vertices,Num Boundary,Num Interior,Vertices,Dual,Boundary,Interior
0,14350.0,1.0,8.0,"[1.0, 1.0, 1.0, 4.0, 4.0, 8.0]",4.0,67.0,2.75,6.0,13.0,28.0,"[[-7.0, 8.0], [-1.0, 0.0], [-1.0, 8.0], [0.0, ...","[[-1.0, -0.25], [-1.0, 0.0], [0.0, -0.125], [0...","[[-7.0, 8.0], [-6.0, 8.0], [-5.0, 8.0], [-4.0,...","[[-6.0, 7.0], [-5.0, 6.0], [-5.0, 7.0], [-4.0,..."
1,14351.0,1.0,8.0,"[1.0, 1.0, 1.0, 2.0, 4.0, 8.0]",4.0,51.0,3.00,6.0,13.0,20.0,"[[-5.0, -12.0], [-1.0, -4.0], [-1.0, 4.0], [0....","[[-4.0, 1.0], [-3.0, 1.0], [-1.0, 0.0], [-1.0,...","[[-5.0, -12.0], [-4.0, -10.0], [-4.0, -8.0], [...","[[-4.0, -9.0], [-3.0, -7.0], [-3.0, -6.0], [-3..."
2,14352.0,1.0,8.0,"[1.0, 1.0, 1.0, 2.0, 2.0, 8.0]",4.0,35.0,3.25,6.0,13.0,12.0,"[[-7.0, -2.0], [-1.0, -2.0], [-1.0, 2.0], [0.0...","[[-2.0, 1.0], [-1.0, 0.0], [-1.0, 1.0], [0.0, ...","[[-7.0, -2.0], [-6.0, -2.0], [-5.0, -2.0], [-4...","[[-5.0, -1.0], [-4.0, -1.0], [-3.0, -1.0], [-3..."
3,14353.0,1.0,8.0,"[1.0, 1.0, 1.0, 2.0, 2.0, 8.0]",4.0,35.0,3.25,6.0,13.0,12.0,"[[-7.0, -2.0], [-3.0, -2.0], [-1.0, -1.0], [-1...","[[-2.0, 3.0], [-1.0, 1.0], [-1.0, 2.0], [0.0, ...","[[-7.0, -2.0], [-6.0, -2.0], [-5.0, -2.0], [-4...","[[-5.0, -1.0], [-4.0, -1.0], [-3.0, -1.0], [-3..."
4,14354.0,1.0,8.0,"[1.0, 1.0, 1.0, 4.0, 4.0, 8.0]",4.0,35.0,3.25,6.0,9.0,14.0,"[[-3.0, -4.0], [-1.0, -4.0], [-1.0, 4.0], [0.0...","[[-4.0, 1.0], [-3.0, 1.0], [-1.0, 0.0], [0.0, ...","[[-3.0, -4.0], [-2.0, -4.0], [-2.0, 0.0], [-1....","[[-2.0, -3.0], [-2.0, -2.0], [-2.0, -1.0], [-1..."

In [25]:
tldp_db.loc[tldp_db['ID'] == 1.0]

,ID,Min Loc Index,Max Loc Index,Local Indices,Order,Volume,Degree,Num Vertices,Num Boundary,Num Interior,Vertices,Dual,Boundary,Interior
997,1.0,1.0,1.0,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]",1.0,6.0,6.0,6.0,6.0,1.0,"[[-1.0, -1.0], [-1.0, 0.0], [0.0, -1.0], [0.0,...","[[-1.0, 0.0], [-1.0, 1.0], [0.0, -1.0], [0.0, ...","[[-1.0, -1.0], [-1.0, 0.0], [0.0, -1.0], [0.0,...","[[0.0, 0.0]]"

In [ ]:
tldp_db.to_pickle('tldp_dataframe_og.pkl')