<a href="https://colab.research.google.com/github/ineschunghalpern/lsgnt-computers/blob/main/Comp_project/data_crunch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Import packages*

In [22]:
import tensorflow as tf

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from tqdm import tqdm
import sqlite3

In [37]:
import re
from sympy import sympify, Poly, var

In [12]:
cat fanothreefolds/fano3.sql fanothreefolds/matchmaker.sql | sqlite3 fano3.db

In [13]:
connection = sqlite3.connect("fano3.db")

In [16]:
 df = pd.read_sql('SELECT * FROM fano3', connection)

In [17]:
df.head()

,id,weights,has_elephant,genus,h1,h2,h3,h4,h5,h6,...,numerator,codimension,basket,basket_size,equation_degrees,degree,k3_rank,bogomolov,kawamata,stable
0,1,"5,6,7,8,8,9,9,10,10,10,11,11,11,12,12,12,12,13...",0,-2,0,0,0,0,1,1,...,t^317 - t^300 - 6*t^299 - 9*t^298 - 16*t^297 -...,24,"1/2(1,1,1),1/2(1,1,1),1/3(1,1,2),1/4(1,1,3),1/...",7,"17,18,18,18,18,18,18,19,19,19,19,19,19,19,19,1...",1/60,19,-8/15,1429/60,1
1,2,"4,6,7,8,9,9,10,10,11,11,12,12,13,13,14,14,15,15",0,-2,0,0,0,1,0,1,...,t^192 - 3*t^174 - 4*t^173 - 7*t^172 - 8*t^171 ...,14,"1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/...",9,"18,18,18,19,19,19,19,20,20,20,20,20,20,20,21,2...",1/84,18,-5/3,1969/84,1
2,3,"4,6,7,8,9,9,10,10,11,11,11,12,12,12,13,13,13,1...",0,-2,0,0,0,1,0,1,...,t^273 - 3*t^255 - 5*t^254 - 10*t^253 - 13*t^25...,20,"1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/...",8,"18,18,18,19,19,19,19,19,20,20,20,20,20,20,20,2...",1/66,19,-25/33,1567/66,1
3,4,"4,6,7,8,9,9,10,10,10,11,11,11,12,12,12,13,13,1...",0,-2,0,0,0,1,0,1,...,t^296 - 4*t^278 - 7*t^277 - 12*t^276 - 16*t^27...,22,"1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/...",8,"18,18,18,18,19,19,19,19,19,19,19,20,20,20,20,2...",1/60,19,-8/15,1429/60,1
4,5,"4,6,7,7,8,8,9,9,9,10,10,10,10,11,11,11,11,12,1...",0,-2,0,0,0,1,0,1,...,t^322 - 3*t^306 - 6*t^305 - 14*t^304 - 20*t^30...,26,"1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/2(1,1,1),1/...",8,"16,16,16,17,17,17,17,17,17,18,18,18,18,18,18,1...",1/42,19,-1/3,1003/42,1

In [33]:
polynomial = df.loc[0]['numerator']
print(polynomial)

t^317 - t^300 - 6*t^299 - 9*t^298 - 16*t^297 - 21*t^296 - 29*t^295 - 33*t^294 - 39*t^293 - 36*t^292 - 32*t^291 - 16*t^290 + 8*t^289 + 47*t^288 + 96*t^287 + 163*t^286 + 237*t^285 + 316*t^284 + 390*t^283 + 445*t^282 + 470*t^281 + 449*t^280 + 368*t^279 + 204*t^278 - 41*t^277 - 385*t^276 - 809*t^275 - 1317*t^274 - 1854*t^273 - 2404*t^272 - 2873*t^271 - 3224*t^270 - 3336*t^269 - 3168*t^268 - 2600*t^267 - 1615*t^266 - 144*t^265 + 1779*t^264 + 4133*t^263 + 6769*t^262 + 9553*t^261 + 12233*t^260 + 14535*t^259 + 16135*t^258 + 16695*t^257 + 15897*t^256 + 13455*t^255 + 9205*t^254 + 3037*t^253 - 4894*t^252 - 14373*t^251 - 24855*t^250 - 35736*t^249 - 46054*t^248 - 54911*t^247 - 61091*t^246 - 63625*t^245 - 61383*t^244 - 53698*t^243 - 39955*t^242 - 20225*t^241 + 5182*t^240 + 35160*t^239 + 68240*t^238 + 102211*t^237 + 134583*t^236 + 162400*t^235 + 182661*t^234 + 192411*t^233 + 189068*t^232 + 170695*t^231 + 136188*t^230 + 85698*t^229 + 20446*t^228 - 56688*t^227 - 141784*t^226 - 229345*t^225 - 313306*t^224 - 386497*t^223 - 442149*t^222 - 473317*t^221 - 474592*t^220 - 441537*t^219 - 372365*t^218 - 267176*t^217 - 129469*t^216 + 35004*t^215 + 217227*t^214 + 406282*t^213 + 589034*t^212 + 751731*t^211 + 880264*t^210 + 961743*t^209 + 985253*t^208 + 943028*t^207 + 831399*t^206 + 651222*t^205 + 408698*t^204 + 114729*t^203 - 214530*t^202 - 559551*t^201 - 897277*t^200 - 1203999*t^199 - 1455338*t^198 - 1629886*t^197 - 1708985*t^196 - 1680328*t^195 - 1537283*t^194 - 1281856*t^193 - 923025*t^192 - 478696*t^191 + 27048*t^190 + 563424*t^189 + 1096397*t^188 + 1589413*t^187 + 2007246*t^186 + 2317398*t^185 + 2493417*t^184 + 2516560*t^183 + 2377707*t^182 + 2078523*t^181 + 1631508*t^180 + 1060205*t^179 + 397048*t^178 - 317255*t^177 - 1037848*t^176 - 1716915*t^175 - 2308919*t^174 - 2771600*t^173 - 3071465*t^172 - 3183763*t^171 - 3097096*t^170 - 2811826*t^169 - 2343016*t^168 - 1717007*t^167 - 972447*t^166 - 155341*t^165 + 681738*t^164 + 1485202*t^163 + 2202255*t^162 + 2786215*t^161 + 3198325*t^160 + 3411479*t^159 + 3411479*t^158 + 3198325*t^157 + 2786215*t^156 + 2202255*t^155 + 1485202*t^154 + 681738*t^153 - 155341*t^152 - 972447*t^151 - 1717007*t^150 - 2343016*t^149 - 2811826*t^148 - 3097096*t^147 - 3183763*t^146 - 3071465*t^145 - 2771600*t^144 - 2308919*t^143 - 1716915*t^142 - 1037848*t^141 - 317255*t^140 + 397048*t^139 + 1060205*t^138 + 1631508*t^137 + 2078523*t^136 + 2377707*t^135 + 2516560*t^134 + 2493417*t^133 + 2317398*t^132 + 2007246*t^131 + 1589413*t^130 + 1096397*t^129 + 563424*t^128 + 27048*t^127 - 478696*t^126 - 923025*t^125 - 1281856*t^124 - 1537283*t^123 - 1680328*t^122 - 1708985*t^121 - 1629886*t^120 - 1455338*t^119 - 1203999*t^118 - 897277*t^117 - 559551*t^116 - 214530*t^115 + 114729*t^114 + 408698*t^113 + 651222*t^112 + 831399*t^111 + 943028*t^110 + 985253*t^109 + 961743*t^108 + 880264*t^107 + 751731*t^106 + 589034*t^105 + 406282*t^104 + 217227*t^103 + 35004*t^102 - 129469*t^101 - 267176*t^100 - 372365*t^99 - 441537*t^98 - 474592*t^97 - 473317*t^96 - 442149*t^95 - 386497*t^94 - 313306*t^93 - 229345*t^92 - 141784*t^91 - 56688*t^90 + 20446*t^89 + 85698*t^88 + 136188*t^87 + 170695*t^86 + 189068*t^85 + 192411*t^84 + 182661*t^83 + 162400*t^82 + 134583*t^81 + 102211*t^80 + 68240*t^79 + 35160*t^78 + 5182*t^77 - 20225*t^76 - 39955*t^75 - 53698*t^74 - 61383*t^73 - 63625*t^72 - 61091*t^71 - 54911*t^70 - 46054*t^69 - 35736*t^68 - 24855*t^67 - 14373*t^66 - 4894*t^65 + 3037*t^64 + 9205*t^63 + 13455*t^62 + 15897*t^61 + 16695*t^60 + 16135*t^59 + 14535*t^58 + 12233*t^57 + 9553*t^56 + 6769*t^55 + 4133*t^54 + 1779*t^53 - 144*t^52 - 1615*t^51 - 2600*t^50 - 3168*t^49 - 3336*t^48 - 3224*t^47 - 2873*t^46 - 2404*t^45 - 1854*t^44 - 1317*t^43 - 809*t^42 - 385*t^41 - 41*t^40 + 204*t^39 + 368*t^38 + 449*t^37 + 470*t^36 + 445*t^35 + 390*t^34 + 316*t^33 + 237*t^32 + 163*t^31 + 96*t^30 + 47*t^29 + 8*t^28 - 16*t^27 - 32*t^26 - 36*t^25 - 39*t^24 - 33*t^23 - 29*t^22 - 21*t^21 - 16*t^20 - 9*t^19 - 6*t^18 - t^17 + 1

In [41]:
#def poly_to_list(polynomial)
coefficient = re.findall(r'-?[\d]*[t$]', polynomial)
power = re.findall(r'[\^][-]?[\d$]+', polynomial)

285

In [50]:
s = polynomial

def get_coef_array(poly, x):
    # define a variable x
    x = var(x)
    # construct a sympy polynomial from string
    # WARNING: this may call eval
    expr = Poly(sympify(poly), x)
    # get the coefficients
    coefs = expr.all_coeffs()
    return coefs
# [9, 11, -20]

In [58]:
def get_max_degree(polys):
    max_degree = 0
    for poly in tqdm(polys):
        coefs = get_coef_array(poly,'t')
        if len(coefs) - 1 > max_degree:
            max_degree = len(coefs)
    return max_degree

In [55]:
numerators = df['numerator'].to_numpy()

In [59]:
get_max_degree(numerators)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 52646/52646 [56:52<00:00, 26.15it/s]

323

In [ ]:
uniform_coefficients = np.array([])

for poly in numerators: 
    coefs = get_coef_array(poly)
    extra = max_degree - (len(coefs) - 1)
    filled = np.concatenate((np.zeros(extra), coefs))
    uniform_coefficients.append(filled)
    
print(uniform_coefficients.shape())